apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: platform

resources:
  - deployment.yaml
  - namespace.yaml
  - secrets.yaml

images:
  - name: ghcr.io/luminatools/platform
    newTag: latest
