# Redis Pod Disruption Budget
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: redis-pdb
  namespace: production-db
  labels:
    app: redis
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: redis
