apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{SERVICE_NAME}}

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/part-of: lum-tools
