apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: "development"
    target:
      kind: Deployment
      name: {{SERVICE_NAME}}-deployment
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "128Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "256Mi"
    target:
      kind: Deployment
      name: {{SERVICE_NAME}}-deployment

# Optional: Disable liveness probe in dev for hot reload
# - patch: |-
#     - op: remove
#       path: /spec/template/spec/containers/0/livenessProbe
#   target:
#     kind: Deployment
#     name: {{SERVICE_NAME}}-deployment
